* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #393E46;
    color: #F7F7F7;
}

.titulo-destaque {
    color: #6D9886;
}

.apresentacao {
    margin:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
}