@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #393E46;
    color: #F7F7F7;
}

.titulo-destaque {
    color: #6D9886;
}

.apresentacao {
    margin:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__conteudo__botao {
    display: flex;
    justify-content: space-around;
}

.apresentacao__conteudo__botao__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 280px;
    background-color: #6D9886;
    border-radius: 16px;
    padding: 22px 0px;
    text-decoration: none;
    color: #393E46;
}