.about{
    width: 80%;
    margin: 0 auto 40px;
    font-family: $font;

    @include for-phone-only {   
        width: 90%;
    }

    &-title{
        background-color: $light-gray;
        text-align: center;
        padding: 20px;
    }

    &-h1{
        @include font-size(22px);
        color: $dark-gray;
        letter-spacing: 1px;
        @extend %half-margin-top, %default-margin-bottom;
    }

    .breadcrumb{
        @include flx(justify-content, center);
        align-items: center;

        &-link{
            @include font-size(12px);
            color: $dark-gray;

            &:hover{
                color: $purple;
            }
        }

        &-img {
            width: 10px;
            margin: 8px;
        }
    }

    &-img{
        width: 100%;
        @extend %double-margin-bottom;
    }

    &-intro{
        font-weight: 100;
        color: $dark-gray;
        width: 70%;
        margin: 30px auto;
        text-align: center;
        @include font-size(16px);

        @include for-phone-only {   
            width: 90%;
        }
        @include for-tablet-only {   
            width: 80%;
        }
    }

    &-split{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    &-img-description{
        width: $img-width;

        @include for-phone-only {   
            width: 80%;
        }
    }

    &-txt{
        width: calc(100% - #{$img-width});

        @include for-phone-only {   
            width: 90%;
            text-align: center;
        }
    }

    &-p{
        @include font-size(14px);
        padding: 10px 20px;
        color: $dark-gray;
    }
}