.article{
    width: 80%;
    margin: 0 auto 40px;
    font-family: $font;

    @include for-phone-only {   
        width: 90%;
    }

    &-title{
        background-color: $light-gray;
        text-align: center;
        padding: 20px;
    }

    &-h1{
        @include font-size(22px);
        color: $dark-gray;
        letter-spacing: 1px;
        @extend %half-margin-top, %default-margin-bottom;
    }

    .breadcrumb{
        @include flx(justify-content, center);
        align-items: center;

        &-link{
            @include font-size(12px);
            @extend %no-decoration;
            color: $dark-gray;

            &:hover {
                @extend %u-decoration;
                color: $purple;
            }
        }

        &-img{
            width: 10px;
            margin: 8px;
        }
    }

    &-img{
        @extend %double-margin-bottom;
        width: 100%;
    }

    &-details{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-date{
        @extend %default-margin-left, %default-margin-right;
        @include font-size(12px);
        font-style: italic;
    }

    &-tag{
        @include font-size(14px);
        padding: 5px 7px;
        color: $purple;
        border: 1px solid $purple;
        @extend %default-margin-left, %default-margin-right;
    }

    &-content{
        font-weight: 100;
        @include font-size(14px);
        color: $dark-gray;
        padding: 10px 20px;
    }

}