.contact{
    @include flx(justify-content, center);
    align-items: center;
    flex-wrap: wrap;
    @extend %double-margin-top;
    margin: 0 auto;
    width: 90%;

    &-figure {
        width: 50%;
    }

    &-img {
        width: 100%;
    }

    &-info {
        width: 40%;
        text-align: center;
        font-family: $font;
    }

    $x: 1;
    @while $x < 5 {
        &-p-#{$x} {
            @include font-size(40px / $x);
            padding-top: 5px * $x;
        }
        $x: $x + 1;
    }
}