@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    box-sizing: border-box;
    background-color: #393E46;
    color: #F7F7F7;
}

.titulo-destaque {
    color: #6D9886;
}

.apresentacao {
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

strong{
    cursor: pointer;
}

strong:hover {
    transition: 1s ease;
    color: #6D9886;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__conteudo__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__suntitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.apresentacao__conteudo__botao__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 378px;
    /* background-color: #6D9886; */
    border-radius: 8px;
    padding: 22px 0px;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px dashed #6D9886;
    transition: 1s all;
}

.apresentacao__conteudo__botao__link:hover {
    background-color: #6D9886;
    font-size: 26px;
}

.foto {
    width: 460px;
    height: 530px;
}

.rodape {
    color: #f6f6f6;
    background-color: #6D9886;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}