@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #393E46;
    color: #F7F7F7;
    overflow: hidden;
}

.titulo-destaque {
    color: #6D9886;
}

.apresentacao {
    margin: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__conteudo__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__suntitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.apresentacao__conteudo__botao__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 378px;
    /* background-color: #6D9886; */
    border-radius: 8px;
    padding: 22px 0px;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px dashed #6D9886;
}

img {
    width: 460px;
    height: 530px;
}